  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script&family=Josefin+Sans:wght@600&family=Salsa&display=swap');

body{
    margin: 0;
    padding: 20px 100px;
}

h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
}

img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

p{
    font-size: 22px;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}

.btn{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 50px;
    cursor: pointer;
}

#white{
    background-color: #ffff;
}

#black{
    background-color: black;
}

.color-switcher{
    text-align: right;
}